<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://kit.fontawesome.com/d451d1e88b.js" crossorigin="anonymous"></script>
</head>
<body>   
    <div class="card">
		<div class="card__info">
			<p class="card__info__place"><%= name %></p>
			<p class="card__info__time"><%= hour %></p>
			<p class="card__info__date"><%= date[0]%> <%= date[1]%> <%= date[2]%> | <%= date[3]%></p>
		</div>
        <div class="">
		    <div class="card__weather">
                <img src="http://openweathermap.org/img/wn/<%= weather[0].icon %>.png" alt="">
		    	<p class="card__weather__temp"><%= Math.trunc(main.temp) %>° C</p>
		    </div>
        </div>
	</div>
    <script src="/public/jquery.js"></script>
    <script src="/public/main.js"></script>
</body>
</html>